* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', monospace;
    color: white;
}

body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container {
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}

.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informacoes {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.container__form, input, button {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

.container__form #result {
    font-size: 20px;
    font-weight: bold;
}

.container__form {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    gap: 2px; /* Espaçamento entre os itens */
}

.container__form input {
    flex: 1; /* Faz o campo de entrada ocupar mais espaço, se necessário */
    max-width: 400px; /* Limita a largura máxima */
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #555;
    color: white;
}

.container__form button {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #1875E8;
    color: white;
    border: none;
    cursor: pointer;
}

.container__form button:hover {
    background-color: #0a5bb5;
}


input, button {
    background-color: #555;
    color: white;
    border: none;
}

input:focus, button:hover {
    background-color: #777;
}

.container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 16px;
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #1875E8;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
}

h2, p, button {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}

.hidden {
    display: none;
}

#mensagem.green {
    color: #28a745;
}

#mensagem.red {
    color: #dc3545;
}

.container__form button:last-child {
    background-color: #f44336;
    color: white;
    border-radius: 4px;
    margin-left: 10px;
}

.container__form button:last-child:hover {
    background-color: #e53935;
}
